MSVC_icc/
MSVC/
UnixMk/

bin/device_*.dll
bin/demo/
bin/device/
bin/tester/

*.sdf
*.suo
*.opensdf
*.tlog
*.obj
*.exe
*.pdb
*.log
*.manifest
*.ilk
*.jpg
*.nnd
*.png
*.jpeg
*.html
.clang_complete
results.csv

UnixMk_icc/
bin/*.csv
