intel_visual_cloud_node/MSVC_icc
intel_visual_cloud_node/MgwMk
intel_visual_cloud_node/MSVC
intel_visual_cloud_node/UnixMk
intel_visual_cloud_node/UnixMk_icc
visual_cloud_tools/MSVC_icc/
visual_cloud_tools/MSVC/
visual_cloud_tools/UnixMk/
*.sdf
*.suo
*.opensdf
*.tlog
*.obj
*.exe
*.pdb
*.log
*.manifest
*.ilk
*.jpg
*.nnd
*.png
*.jpeg
*.html
.clang_complete


